// Colors
$base_color: rgb(51, 5, 102);
$pink: rgb(153, 1, 153);
$mauve: rgb(141, 115, 169);
$lightMauve: lighten($mauve, 35%);
$yellow: rgb(242, 200, 35);
$white: white;

// Dimensions
$app_width: 65%;
$base_font_size: 16px;

body {
  margin: 0;
  background: $mauve;
  color: $base_color;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $base_font_size;
  line-height: 1.5;
}

a {
  color: $base_color;
}

#container {
  width: $app_width;
  margin: 0px auto 40px auto;
  background: $white;
  padding: 20px 20px 0 20px;
  border-radius: 0 0 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
}

#entries {
  margin-bottom: 30px;
}

.status_bar {
  height: 38px;
  margin: 0 -20px;
  padding: 15px 20px 0 20px;
  background: $lightMauve;
  border-top: 1px solid #ededed;
  border-radius: 0 0 5px 5px;
}

#credits {
  width: $app_width;
  margin: 30px auto;
  padding: 20px;
  background: $lightMauve;
  text-align: center;
  border-radius: 5px;
  font-size: 0.75em;
}

form {
  padding: 0 10px;
}

form input {
  border: 1px inset;
  padding: 1%;
  margin: 15px auto;
  display: block;
  width: 90%;
  height: 40px;
  border-radius: 3px;
  font-size: 30px;

  &[type="submit"] {
    display: none;
  }
}

h1 {
  font-size: 2.5em;
  text-align: center;
  border-bottom: 1px solid $pink;
}

table {
  width: 100%;
  border-spacing: 1px;
}

table th {
  width: 50%;
  background: $yellow;
  font-size: 1.5em;
  border-radius: 3px;
}

table td {
  font-size: 24px;
  background: $lightMauve;
  padding: 5px;
  border-radius: 3px;
}

table input, .editing .view {
  display: none;
}

.editing input {
  display: block;
  font-size: 24px;
  border: none;
  width: 100%;
}

.destroy_cell {
  background: none;
}
.destroy {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  line-height: $base_font_size;
  text-align: center;
  &:hover {
    color: $white;
    background: $base_color;
  }
}

#clear_status_bar {
  width: 15px;
  height: 15px;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  line-height: 0.75em;
  border-radius: 50%;
  text-align: center;
  &:hover {
    color: $lightMauve;
    background: $mauve;
  }
}

#translator {
  position: absolute;
  left: -9999px;
}