<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>ThaiWords</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <footer id='credits'>
    Created by
    <br>
    <a href='#'>Paul Yeoh</a>
    <br>
    Design stolen from
    <br>
    <a href='http://backbonejs.org/examples/todos/index.html'>
      Jérôme Gravel-Niquet's Todos App
    </a>
  </footer>

</body>
</html>
