<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>ThaiWords</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <footer>
    <div id="credits">
      <p>Due to browser variations only Chrome and Safari browsers will output accurate Thai characters.</p>
      Created by
      <a href='https://github.com/paul-ylz/'>Paul Yeoh</a>
      with
      <a href="http://rubyonrails.org/">Ruby on Rails 4</a>
      and
      <a href="http://backbonejs.org/">Backbone.js</a>.
      <br>
      <a href="https://github.com/paul-ylz/thai_words">View source</a>
    </div>
  </footer>

</body>
</html>
